/* global css */
/* 
	动画推荐用:animaction.css
	
	使用方法:
	实例：1.animated infinite bounce delay-2s
	实例：2.animated bounce faster
	示例：1.animated(必须参数) infinite(是否无限循环) bounce(动画效果) delay-2s(延迟两秒执行)
	示例：2.animated(必须参数) bounce(动画效果) faster(动画等级)
	
	单次执行:
	animated bounce faster
	
	多次间隔执行(infinite=无限循环):
	animated infinite bounce delay-2s
	
	额外(动画等级)参数：
	slow	2s
	slower	3s
	fast	800ms
	faster	500ms
	
	动画延迟时间有:
	delay-2s
	delay-3s
	delay-4s
	delay-5s
*/



page::-webkit-scrollbar {
	display: none;
}

page {
	background-color: #222;
	background-image: radial-gradient(#000 1%, transparent 16%),
		radial-gradient(#000 1%, transparent 16%),
		radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%),
		radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%);
	background-position: 0 0px,
		8px 8px,
		0 1px,
		8px 9px;
	background-size: 16px 16px;
}

.nav-li {
	color: #fff;
	width: 80%;
	height: 150upx;
	margin-top: 3%;
	padding: 6% 4%;
	margin: 6%;
	display: flex;
	flex-wrap: wrap;
	border-radius: 10upx;
	border-bottom: 1upx solid #ddd;
	background-image: url('https://www.playsort.cn/static/imgs/bg.jpg');
	background-size: cover;
	box-shadow: 1upx 2upx 8upx #000;
}

.nav-li:first-child {}

.nav-title {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.nav-name {
	font-weight: bold;
	text-transform: Capitalize;
	text-shadow: 10upx 4upx 12upx #000;
}

.nav-name:first-letter {
	color: #17A05D;
}

.footer-desc {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
}

.desc {
	color: #ddd;
	text-align: center;
	padding: 2%;
	font-size: .8em;
}

.line {
	width: 100upx;
	border-bottom: 2upx solid #ddd;
}



/* 
 私缀样式(sun) 
 */
.sun-title {
	color: #000;
	font-size: .8em;
	font-weight: 100;
	padding: 6%;
	border-radius: 10upx;
	background-color: #eee;
}

.nav-hover {
	opacity: .8;
}

/* 
	背景颜色(BG)
 */
.bg-red {
	background-color: #DD5145;
}

.bg-green {
	background-color: #17A05D;
}

.bg-yellow {
	background-color: #FFCD42;
}

.bg-blue {
	background-color: #4B8BF4;
}

.bg-orange {
	background-color: #FFC019;
}

/* 
	文字(T)
*/
.t-left {
	text-align: left;
}

.t-right {
	text-align: right;
}

.t-center {
	text-align: center;
}
